@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{font-family: "Open Sans", sans-serif;
margin: 0;}
header{background-color: #B9848C;
color: wheat;
font-size: 20px;
height: 80px;}
footer{background-color: #02315E;
color: wheat;
font-size: 20px;
height: 80px;}
a{color: wheat;
font-size: 20px;
text-decoration: none;
margin: 50px;}
main{text-align: center;}
h1{color: #02315E;}
h2{color: #2F70AF;}
img{width: 200px; 
height: 200px;
border-radius: 20px;
border: 2px inset #02315E;}
